spring.datasource.url=jdbc:postgresql://localhost:5432/tsukuyomi_db
spring.datasource.username=postgres
spring.datasource.password=your_password_here

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true